.projectsWrapper {
  padding: 1rem;
  margin: 1rem auto;
  max-width: 72rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projectCard {
  background-color: var(--color-secondary-background);
  padding: 1rem;
  border-radius: 0.4rem;
  flex: 0 0 30%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCard > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectCard strong {
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.4rem;
  max-height: 1.4rem;
}

.projectCard > div:nth-of-type(1) > span {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
}

.projectCard > div:nth-of-type(2) {
  display: flex;
  margin-top: 1rem;
}

.projectCard > div:nth-of-type(2) > span {
  border: 1px solid var(--color-border);
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 776px) {
  .projectCard {
    flex: 0 0 48%;
  }
}
@media only screen and (max-width: 400px) {
  .projectCard {
    flex: 1 1 100%;
  }
}
